<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>sources-maven</id>
            <username>REPLACE_WITH_NAME</username>
            <password>REPLACE_WITH_TOKEN</password>
            <configuration>
                <authenticationInfo>
                    <userName>${env.CI_JOB_TOKEN}</userName>
                    <password>${env.CI_JOB_TOKEN}</password>
                </authenticationInfo>
            </configuration>
        </server>
    </servers>
</settings>